# Configuration file

##########################################################################################################
# _instructions
#--------------------------------------------------------------------------------------------------------#
# ************   Instructions   *************
# For the default entries, they are formatted as follows:
# 
#       <min items>-<max items>-<weight>-<metadata>.
# 
# Disable them by setting the weights to 0.
# To add new things, put items in the lists in the format:
# 
#       <name>-<min items>-<max items>-<weight>-<metadata (optional)>-<NBT Tag (optional)>.
# 
# So, say, if you wanted to add 6-10 slime balls to the bonus chest with a weight of
# 10, you could put:
# 
#       minecraft:slime_ball-6-10-10
# 
# Note the NBT tag is optional, and so is the metadata (defaults to 0), so you don't have
# to include them.
# You can also add entries to custom chest types in custom_chest in the form:
# 
#       <type>-<name>-<min items>-<max items>-<weight>-<metadata (optional)>-<NBT Tag (optional)>.
# (By the way, I fixed the NBT parser so it can use string ids for items)
# 
# To change the number of items that generate in a chest, in the '_min_max_amounts' section,
# change the numbers which are in the format:
# 
#       <min items in chest>-<max items in chest>
##########################################################################################################

_instructions {
}


_min_max_amounts {
    S:A_WIZARD_DID_IT=0-0
    S:ProceeduralGeneration=0-0
    S:bonusChest=10-10
    S:dimensionalDungeonChest=0-0
    S:dungeonChest=8-8
    S:ieVillageCrates=3-9
    S:"mfr:villageZoolologist"=5-18
    S:mineshaftCorridor=3-7
    S:netherFortress=2-5
    S:pyramidDesertyChest=2-7
    S:pyramidJungleChest=2-7
    S:pyramidJungleDispenser=2-2
    S:strongholdCorridor=2-4
    S:strongholdCrossing=1-5
    S:strongholdLibrary=1-5
    S:villageBlacksmith=3-9
}


a_wizard_did_it_additions {
    S:"A_WIZARD_DID_IT Additions:" <
     >
}


a_wizard_did_it_default {
    S:"Artifacts:artifact-0"=1-1-10
    S:"Artifacts:artifact_leather_boots-0"=1-1-10
    S:"Artifacts:artifact_leather_chestplate-0"=1-1-10
    S:"Artifacts:artifact_leather_helmet-0"=1-1-10
    S:"Artifacts:artifact_leather_leggings-0"=1-1-10
    S:"Artifacts:dust_orichalcum-0"=1-1-3
    S:"Artifacts:dust_orichalcum-1"=1-1-3
    S:"Artifacts:dust_orichalcum-2"=1-1-3
    S:"Artifacts:dust_orichalcum-3"=1-1-3
    S:"Artifacts:dust_orichalcum-4"=1-1-3
    S:"minecraft:diamond-0"=2-5-3
    S:"minecraft:enchanted_book-0"=1-1-5
    S:"minecraft:experience_bottle-0"=1-1-2
    S:"minecraft:gold_nugget-0"=3-7-5
}


bonuschest_additions {
    S:"bonusChest Additions:" <
     >
}


bonuschest_default {
    S:"Botania:blackLotus-0"=1-1-1
    S:"Botania:lexicon-0"=1-1-7
    S:"TConstruct:broadsword-0"=0-1-10
    S:"minecraft:apple-0"=2-3-5
    S:"minecraft:bread-0"=2-3-3
    S:"minecraft:log-0"=1-3-10
    S:"minecraft:log2-0"=1-3-10
    S:"minecraft:planks-0"=1-3-10
    S:"minecraft:stick-0"=1-3-10
    S:"minecraft:wooden_axe-0"=1-1-5
    S:"minecraft:wooden_pickaxe-0"=1-1-5
}


custom_chest_type {
    S:"Custom Chest Type Content:" <
     >
}


dimensionaldungeonchest_additions {
    S:"dimensionalDungeonChest Additions:" <
     >
}


dimensionaldungeonchest_default {
    S:"MineFactoryReloaded:pinkslime-0"=1-1-1
    S:"MineFactoryReloaded:rubberwood.sapling-0"=1-8-70
    S:"MineFactoryReloaded:safarinet.jailer-0"=1-1-15
}


dungeonchest_additions {
    S:"dungeonChest Additions:" <
     >
}


dungeonchest_default {
    S:"Artifacts:artifact-0"=1-1-0
    S:"Artifacts:artifact_chainmail_boots-0"=1-1-0
    S:"Artifacts:artifact_chainmail_chestplate-0"=1-1-0
    S:"Artifacts:artifact_chainmail_helmet-0"=1-1-0
    S:"Artifacts:artifact_chainmail_leggings-0"=1-1-0
    S:"Botania:blackLotus-0"=1-1-6
    S:"Botania:lexicon-0"=1-1-6
    S:"Botania:manaBottle-0"=1-1-5
    S:"Botania:manaResource-0"=1-5-9
    S:"Botania:overgrowthSeed-0"=1-1-2
    S:"EnderIO:item.darkSteel_sword-0"=1-1-4
    S:"EnderIO:itemConduitProbe-0"=1-1-10
    S:"ExtraUtilities:divisionSigil-0"=1-1-3
    S:"ExtraUtilities:plant/ender_lilly-0"=1-5-12
    S:"MineFactoryReloaded:rubberwood.sapling-2"=1-4-8
    S:"MineFactoryReloaded:safarinet.singleuse-0"=1-1-25
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"PortalGun:EnderPearlDust-0"=2-9-10
    S:"PortalGun:PortalGunBlue-0"=1-1-1
    S:"PortalGun:PortalGunBlue-1"=1-1-1
    S:"PortalGun:PortalGunBlue-2"=1-1-1
    S:"PortalGun:PortalGunBlue-3"=1-1-1
    S:"PortalGun:PortalGunBlue-4"=1-1-1
    S:"RandomThings:whitestone-0"=1-1-3
    S:"TConstruct:broadsword-0"=0-1-2
    S:"TConstruct:heartCanister-1"=1-1-5
    S:"chancecubes:Chance_Cube-0"=1-2-5
    S:"chancecubes:Chance_Icosahedron-0"=1-2-5
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:bread-0"=1-1-14
    S:"minecraft:bucket-0"=1-1-10
    S:"minecraft:diamond_horse_armor-0"=1-1-1
    S:"minecraft:enchanted_book-0"=1-1-1
    S:"minecraft:ender_pearl-0"=1-2-20
    S:"minecraft:golden_apple-0"=1-1-1
    S:"minecraft:golden_horse_armor-0"=1-1-1
    S:"minecraft:gunpowder-0"=1-4-10
    S:"minecraft:iron_horse_armor-0"=1-1-1
    S:"minecraft:iron_ingot-0"=1-4-10
    S:"minecraft:name_tag-0"=1-1-10
    S:"minecraft:nether_wart-0"=1-4-10
    S:"minecraft:quartz-0"=3-16-20
    S:"minecraft:record_13-0"=1-1-10
    S:"minecraft:record_cat-0"=1-1-10
    S:"minecraft:redstone-0"=1-4-5
    S:"minecraft:saddle-0"=1-1-2
    S:"minecraft:string-0"=1-4-10
    S:"minecraft:wheat-0"=1-4-10
    S:"rftools:unknownDimlet-0"=1-3-50
    S:"xprings:item.xpr2-0"=1-1-2
}


ievillagecrates_additions {
    S:"ieVillageCrates Additions:" <
     >
}


ievillagecrates_default {
    S:"ImmersiveEngineering:blueprint-0"=1-1-5
    S:"ImmersiveEngineering:blueprint-1"=1-1-2
    S:"ImmersiveEngineering:blueprint-2"=1-1-1
    S:"ImmersiveEngineering:material-0"=2-7-20
    S:"ImmersiveEngineering:material-11"=1-2-8
    S:"ImmersiveEngineering:material-12"=1-1-5
    S:"ImmersiveEngineering:shader-0-{shader_name:'Hollow',}"=1-1-5
    S:"TConstruct:materials-11"=1-4-10
    S:"TConstruct:materials-16"=1-4-8
    S:"ThermalFoundation:material-64"=2-5-16
    S:"ThermalFoundation:material-67"=1-4-10
}


"mfr:villagezoolologist_additions" {
    S:"mfr:villageZoolologist Additions:" <
     >
}


"mfr:villagezoolologist_default" {
    S:"MineFactoryReloaded:bucket.essence-0"=1-1-6
    S:"MineFactoryReloaded:hammer-0"=1-1-25
    S:"MineFactoryReloaded:plastic.bag-0"=1-24-7
    S:"MineFactoryReloaded:plastic.boots-0"=1-1-25
    S:"MineFactoryReloaded:plastic.sheet-0"=1-64-16
    S:"MineFactoryReloaded:portaspawner-0"=1-1-1
    S:"MineFactoryReloaded:record.blank-0"=1-1-14
    S:"MineFactoryReloaded:rubberwood.sapling-0"=1-8-20
    S:"MineFactoryReloaded:ruler-0"=1-1-7
    S:"MineFactoryReloaded:safarinet.jailer-0"=1-1-20
    S:"MineFactoryReloaded:safarinet.jailer-0-{hide:1b,}"=1-1-10
    S:"MineFactoryReloaded:safarinet.launcher-0"=1-1-8
    S:"MineFactoryReloaded:safarinet.reusable-0"=1-1-5
    S:"MineFactoryReloaded:safarinet.reusable-0-{hide:1b,}"=1-1-2
    S:"MineFactoryReloaded:safarinet.singleuse-0"=1-1-35
    S:"MineFactoryReloaded:safarinet.singleuse-0-{hide:1b,}"=1-1-17
    S:"MineFactoryReloaded:spyglass-0"=1-1-7
    S:"MineFactoryReloaded:straw-0"=1-1-5
    S:"MineFactoryReloaded:syringe.empty-0"=1-4-6
    S:"MineFactoryReloaded:syringe.growth-0"=1-2-6
    S:"MineFactoryReloaded:syringe.health-0"=1-1-6
    S:"MineFactoryReloaded:vinescaffold-0"=1-32-20
    S:"minecraft:book-0"=1-5-7
    S:"minecraft:coal-1"=1-16-14
    S:"minecraft:lead-0"=1-17-10
    S:"minecraft:name_tag-0"=1-14-10
    S:"minecraft:paper-0"=1-16-14
    S:"minecraft:pumpkin_seeds-0"=1-16-7
    S:"minecraft:reeds-0"=1-16-7
    S:"minecraft:sapling-0"=1-16-7
    S:"minecraft:snowball-0"=1-16-7
}


mineshaftcorridor_additions {
    S:"mineshaftCorridor Additions:" <
     >
}


mineshaftcorridor_default {
    S:"Artifacts:artifact-0"=1-1-0
    S:"Artifacts:artifact_chainmail_helmet-0"=1-1-0
    S:"Artifacts:artifact_iron_helmet-0"=1-1-0
    S:"Artifacts:artifact_leather_chestplate-0"=1-1-0
    S:"Botania:blackLotus-0"=1-1-6
    S:"Botania:overgrowthSeed-0"=1-1-2
    S:"ExtraUtilities:divisionSigil-0"=1-1-1
    S:"MineFactoryReloaded:safarinet.jailer-0"=1-1-15
    S:"MineFactoryReloaded:safarinet.singleuse-0"=1-1-25
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"TConstruct:broadsword-0"=0-1-2
    S:"appliedenergistics2:item.ItemMultiMaterial-0"=1-4-2
    S:"appliedenergistics2:item.ItemMultiMaterial-2"=1-4-2
    S:"chancecubes:Chance_Cube-0"=1-2-5
    S:"chancecubes:Chance_Icosahedron-0"=1-2-5
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:bread-0"=1-3-15
    S:"minecraft:coal-0"=3-8-10
    S:"minecraft:diamond-0"=1-2-3
    S:"minecraft:dye-4"=4-9-5
    S:"minecraft:enchanted_book-0"=1-1-1
    S:"minecraft:gold_ingot-0"=1-3-5
    S:"minecraft:iron_horse_armor-0"=1-1-1
    S:"minecraft:iron_ingot-0"=1-5-10
    S:"minecraft:iron_pickaxe-0"=1-1-3
    S:"minecraft:melon_seeds-0"=2-4-10
    S:"minecraft:pumpkin_seeds-0"=2-4-10
    S:"minecraft:rail-0"=4-8-1
    S:"minecraft:redstone-0"=4-9-5
    S:"minecraft:saddle-0"=1-1-3
    S:"rftools:unknownDimlet-0"=1-3-50
}


netherfortress_additions {
    S:"netherFortress Additions:" <
     >
}


netherfortress_default {
    S:"minecraft:diamond-0"=1-3-5
    S:"minecraft:diamond_horse_armor-0"=1-1-3
    S:"minecraft:flint_and_steel-0"=1-1-5
    S:"minecraft:gold_ingot-0"=1-3-15
    S:"minecraft:golden_chestplate-0"=1-1-5
    S:"minecraft:golden_horse_armor-0"=1-1-8
    S:"minecraft:golden_sword-0"=1-1-5
    S:"minecraft:iron_horse_armor-0"=1-1-5
    S:"minecraft:iron_ingot-0"=1-5-5
    S:"minecraft:nether_wart-0"=3-7-5
    S:"minecraft:saddle-0"=1-1-10
}


proceeduralgeneration_additions {
    S:"ProceeduralGeneration Additions:" <
     >
}


proceeduralgeneration_default {
    S:"Artifacts:artifact-0"=1-1-5
    S:"Artifacts:artifact_chainmail_boots-0"=1-1-5
    S:"Artifacts:artifact_chainmail_chestplate-0"=1-1-5
    S:"Artifacts:artifact_chainmail_helmet-0"=1-1-5
    S:"Artifacts:artifact_chainmail_leggings-0"=1-1-5
    S:"Artifacts:artifact_diamond_boots-0"=1-1-5
    S:"Artifacts:artifact_diamond_chestplate-0"=1-1-5
    S:"Artifacts:artifact_diamond_helmet-0"=1-1-5
    S:"Artifacts:artifact_diamond_leggings-0"=1-1-5
    S:"Artifacts:artifact_golden_boots-0"=1-1-5
    S:"Artifacts:artifact_golden_chestplate-0"=1-1-5
    S:"Artifacts:artifact_golden_helmet-0"=1-1-5
    S:"Artifacts:artifact_golden_leggings-0"=1-1-5
    S:"Artifacts:artifact_iron_boots-0"=1-1-5
    S:"Artifacts:artifact_iron_chestplate-0"=1-1-5
    S:"Artifacts:artifact_iron_helmet-0"=1-1-5
    S:"Artifacts:artifact_iron_leggings-0"=1-1-5
    S:"Artifacts:artifact_leather_boots-0"=1-1-5
    S:"Artifacts:artifact_leather_chestplate-0"=1-1-5
    S:"Artifacts:artifact_leather_helmet-0"=1-1-5
    S:"Artifacts:artifact_leather_leggings-0"=1-1-5
}


pyramiddesertychest_additions {
    S:"pyramidDesertyChest Additions:" <
     >
}


pyramiddesertychest_default {
    S:"Artifacts:artifact-0"=1-1-2
    S:"Artifacts:artifact_golden_boots-0"=1-1-4
    S:"Artifacts:artifact_golden_chestplate-0"=1-1-6
    S:"Artifacts:artifact_golden_helmet-0"=1-1-4
    S:"Artifacts:artifact_golden_leggings-0"=1-1-4
    S:"Botania:blackLotus-0"=1-1-6
    S:"Botania:overgrowthSeed-0"=1-1-2
    S:"EnderIO:item.darkSteel_sword-0"=1-1-4
    S:"ExtraUtilities:divisionSigil-0"=1-1-5
    S:"MineFactoryReloaded:safarinet.singleuse-0"=1-1-25
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"TConstruct:broadsword-0"=0-1-2
    S:"TConstruct:heartCanister-1"=1-1-10
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:bone-0"=4-6-20
    S:"minecraft:diamond-0"=1-3-3
    S:"minecraft:diamond_horse_armor-0"=1-1-1
    S:"minecraft:emerald-0"=1-3-2
    S:"minecraft:enchanted_book-0"=1-1-1
    S:"minecraft:gold_ingot-0"=2-7-15
    S:"minecraft:golden_horse_armor-0"=1-1-1
    S:"minecraft:iron_horse_armor-0"=1-1-1
    S:"minecraft:iron_ingot-0"=1-5-10
    S:"minecraft:rotten_flesh-0"=3-7-16
    S:"minecraft:saddle-0"=1-1-3
    S:"rftools:unknownDimlet-0"=1-3-50
}


pyramidjunglechest_additions {
    S:"pyramidJungleChest Additions:" <
     >
}


pyramidjunglechest_default {
    S:"Artifacts:artifact-0"=1-1-8
    S:"Artifacts:artifact_diamond_chestplate-0"=1-1-3
    S:"Artifacts:artifact_golden_chestplate-0"=1-1-8
    S:"Artifacts:artifact_iron_chestplate-0"=1-1-4
    S:"Botania:blackLotus-0"=1-1-6
    S:"Botania:overgrowthSeed-0"=1-1-2
    S:"EnderIO:item.darkSteel_sword-0"=1-1-4
    S:"ExtraUtilities:divisionSigil-0"=1-1-11
    S:"MineFactoryReloaded:rubberwood.sapling-1"=1-2-1
    S:"MineFactoryReloaded:rubberwood.sapling-2"=1-4-8
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"TConstruct:broadsword-0"=0-1-2
    S:"TConstruct:heartCanister-1"=1-1-10
    S:"Ztones:hunger-0"=1-2-1
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:bone-0"=4-6-20
    S:"minecraft:diamond-0"=1-3-3
    S:"minecraft:diamond_horse_armor-0"=1-1-1
    S:"minecraft:emerald-0"=1-3-2
    S:"minecraft:enchanted_book-0"=1-1-1
    S:"minecraft:gold_ingot-0"=2-7-15
    S:"minecraft:golden_horse_armor-0"=1-1-1
    S:"minecraft:iron_horse_armor-0"=1-1-1
    S:"minecraft:iron_ingot-0"=1-5-10
    S:"minecraft:rotten_flesh-0"=3-7-16
    S:"minecraft:saddle-0"=1-1-3
    S:"rftools:unknownDimlet-0"=1-3-50
}


pyramidjungledispenser_additions {
    S:"pyramidJungleDispenser Additions:" <
     >
}


pyramidjungledispenser_default {
    S:"MineFactoryReloaded:safarinet.singleuse-0-{hide:1b,}"=1-1-25
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:arrow-0"=2-7-30
}


strongholdcorridor_additions {
    S:"strongholdCorridor Additions:" <
     >
}


strongholdcorridor_default {
    S:"Artifacts:artifact-0"=1-1-3
    S:"Artifacts:artifact_diamond_boots-0"=1-1-2
    S:"Artifacts:artifact_diamond_chestplate-0"=1-1-3
    S:"Artifacts:artifact_diamond_helmet-0"=1-1-2
    S:"Artifacts:artifact_diamond_leggings-0"=1-1-2
    S:"Botania:blackLotus-0"=1-1-6
    S:"Botania:manaResource-1"=1-1-8
    S:"Botania:overgrowthSeed-0"=1-1-2
    S:"ExtraUtilities:divisionSigil-0"=1-1-3
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"chancecubes:Chance_Cube-0"=1-2-5
    S:"chancecubes:Chance_Icosahedron-0"=1-2-5
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:apple-0"=1-3-15
    S:"minecraft:bread-0"=1-3-15
    S:"minecraft:diamond-0"=1-3-3
    S:"minecraft:diamond_horse_armor-0"=1-1-1
    S:"minecraft:enchanted_book-0"=1-1-1
    S:"minecraft:ender_pearl-0"=1-1-10
    S:"minecraft:gold_ingot-0"=1-3-5
    S:"minecraft:golden_apple-0"=1-1-1
    S:"minecraft:golden_horse_armor-0"=1-1-1
    S:"minecraft:iron_boots-0"=1-1-5
    S:"minecraft:iron_chestplate-0"=1-1-5
    S:"minecraft:iron_helmet-0"=1-1-5
    S:"minecraft:iron_horse_armor-0"=1-1-1
    S:"minecraft:iron_ingot-0"=1-5-10
    S:"minecraft:iron_leggings-0"=1-1-5
    S:"minecraft:iron_pickaxe-0"=1-1-5
    S:"minecraft:iron_sword-0"=1-1-5
    S:"minecraft:redstone-0"=4-9-5
    S:"minecraft:saddle-0"=1-1-1
    S:"rftools:unknownDimlet-0"=1-3-50
}


strongholdcrossing_additions {
    S:"strongholdCrossing Additions:" <
     >
}


strongholdcrossing_default {
    S:"Artifacts:artifact-0"=1-1-1
    S:"Artifacts:artifact_diamond_boots-0"=1-1-1
    S:"Artifacts:artifact_diamond_chestplate-0"=1-1-1
    S:"Artifacts:artifact_diamond_helmet-0"=1-1-1
    S:"Artifacts:artifact_diamond_leggings-0"=1-1-1
    S:"ExtraUtilities:divisionSigil-0"=1-1-1
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:apple-0"=1-3-15
    S:"minecraft:bread-0"=1-3-15
    S:"minecraft:coal-0"=3-8-10
    S:"minecraft:enchanted_book-0"=1-1-1
    S:"minecraft:gold_ingot-0"=1-3-5
    S:"minecraft:iron_ingot-0"=1-5-10
    S:"minecraft:iron_pickaxe-0"=1-1-1
    S:"minecraft:redstone-0"=4-9-5
}


strongholdlibrary_additions {
    S:"strongholdLibrary Additions:" <
     >
}


strongholdlibrary_default {
    S:"Artifacts:artifact-0"=1-1-6
    S:"IguanaTweaksTConstruct:wearableBucket-3"=0-1-1
    S:"ImmersiveEngineering:blueprint-2"=1-1-6
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"TConstruct:broadsword-0"=0-1-2
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:book-0"=1-3-20
    S:"minecraft:compass-0"=1-1-1
    S:"minecraft:enchanted_book-0"=1-5-2
    S:"minecraft:map-0"=1-1-1
    S:"minecraft:paper-0"=2-7-20
}


villageblacksmith_additions {
    S:"villageBlacksmith Additions:" <
     >
}


villageblacksmith_default {
    S:"Artifacts:artifact-0"=1-1-1
    S:"Artifacts:artifact_iron_boots-0"=1-1-1
    S:"Artifacts:artifact_iron_chestplate-0"=1-1-1
    S:"Artifacts:artifact_iron_helmet-0"=1-1-1
    S:"Artifacts:artifact_iron_leggings-0"=1-1-1
    S:"Botania:blackLotus-0"=1-1-6
    S:"EnderIO:item.darkSteel_sword-0"=1-1-5
    S:"EnderIO:itemAlloy-3"=3-6-35
    S:"IguanaTweaksTConstruct:wearableBucket-0"=0-1-1
    S:"ImmersiveEngineering:blueprint-2"=1-1-2
    S:"PneumaticCraft:nukeVirus-0"=1-4-10
    S:"PneumaticCraft:stopWorm-0"=1-4-10
    S:"RandomThings:ingredient-4"=1-1-3
    S:"Ztones:minicharcoal-0"=2-2-2
    S:"Ztones:minicoal-0"=2-2-2
    S:"chancecubes:Chance_Cube-0"=1-2-5
    S:"chancecubes:Chance_Icosahedron-0"=1-2-5
    S:"lootbags:lootbag-0"=1-1-20
    S:"minecraft:apple-0"=1-3-15
    S:"minecraft:bread-0"=1-3-15
    S:"minecraft:diamond-0"=1-3-3
    S:"minecraft:diamond_horse_armor-0"=1-1-1
    S:"minecraft:gold_ingot-0"=1-3-5
    S:"minecraft:golden_horse_armor-0"=1-1-1
    S:"minecraft:iron_boots-0"=1-1-5
    S:"minecraft:iron_chestplate-0"=1-1-5
    S:"minecraft:iron_helmet-0"=1-1-5
    S:"minecraft:iron_horse_armor-0"=1-1-1
    S:"minecraft:iron_ingot-0"=1-5-10
    S:"minecraft:iron_leggings-0"=1-1-5
    S:"minecraft:iron_pickaxe-0"=1-1-5
    S:"minecraft:iron_sword-0"=1-1-5
    S:"minecraft:obsidian-0"=3-7-5
    S:"minecraft:saddle-0"=1-1-3
    S:"minecraft:sapling-0"=3-7-5
    S:"rftools:unknownDimlet-0"=1-3-50
}


